body {
  background-color: #999999;
  font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah di baca */
color:
  }

  .kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
  }
