:root {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: #999999;
  font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah di baca */
color:
  }

  .kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
  }

.kartu-profil img {
  width: 150px
  border-radius: 50%;
}
.kartu-profil {
  text-align: center;
}

background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #f0f0f0;
}
